.background {
    height: 100%;
    background-color: black;
    background-image: url("/images/bkg.img.svg");
    background-position: center;
    background-size: cover;
}

html,
body {
    position: relative;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    font-size: 24px;
}

.profile-button {
    background-color: #6f42c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-icon {
    margin-right: 10px;
}

.cart-button {
    background-color: #6f42c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cart-icon {
    margin-right: 10px;
}

.footer-style {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    left: 0;
}

.footer-icon {
    margin-right: 10px;
}

.profileinfo-card {
    width: 50%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.text-purple {
    color: #6f42c1;
}

.orders {
    color: #6f42c1;
    top: auto;
}

.orders-visual {
    max-height: 600px;
}

.settingsform {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    background-color: #fff;
}

.orders-scroll {
    max-height: 600px;
    overflow-y: auto;  
}

.butpos {
    align-items: center;
    display: flex;
}

.article-box {
    background-color: white;
}

.reviews {
    max-height: 200px;
    overflow-y: auto;
}

.cartscroll {
    max-height: 600px;
    overflow-y: auto;
}

.mycart-img {
    max-width: 150px;
}

.payment-icons {
    font-size: 2em;
}

.error-logo {
    max-width: 300px;
}

.page-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.border-none {
    border: none !important;
}